apiVersion: apps/v1
kind: Deployment
metadata:
  name: click-tex-tile-deployment
  namespace: click # Change the namespace name
spec:
  replicas: 4
  selector:
    matchLabels:
      app: click-tex-tile
  template:
    metadata:
      labels:
        app: click-tex-tile
    spec:
      containers:
        - name: click-tex-tile-container
          image: clickerp/textile:1156
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: my-secret
