apiVersion: apps/v1
kind: Deployment
metadata:
  name: click-hr-payroll-deployment
  namespace: click # Change the namespace name
spec:
  replicas: 3
  selector:
    matchLabels:
      app: click-hr-payroll
  template:
    metadata:
      labels:
        app: click-hr-payroll
    spec:
      containers:
        - name: click-hr-payroll-container
          image: clickerp/hr-payroll:1077
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: my-secret
