apiVersion: apps/v1
kind: Deployment
metadata:
  name: click-iden-tity-deployment
  namespace: click # Change the namespace name
spec:
  replicas: 2
  selector:
    matchLabels:
      app: click-iden-tity
  template:
    metadata:
      labels:
        app: click-iden-tity
    spec:
      containers:
        - name: click-iden-tity-container
          image: clickerp/identity:1108
          ports:
            - containerPort: 8081
